{% extends 'base.html' %}
{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h1 class="card-title text-center">Crear Tarea</h1>
                </div>
                <div class="card-body">
                    {{ error }}
                    <form action="/task/create/" method="POST" class="needs-validation" novalidate>
                        {% csrf_token %}
                        <div class="mb-3">
                            {{ form.title.label_tag }}
                            {{ form.title }}
                            {% if form.title.errors %}
                                <div class="invalid-feedback">{{ form.title.errors }}</div>
                            {% endif %}
                        </div>
                        <div class="mb-3">
                            {{ form.description.label_tag }}
                            {{ form.description }}
                            {% if form.description.errors %}
                                <div class="invalid-feedback">{{ form.description.errors }}</div>
                            {% endif %}
                        </div>
                        <div class="mb-3">
                            {{ form.due_date.label_tag }}
                            {{ form.due_date }}
                            {% if form.due_date.errors %}
                                <div class="invalid-feedback">{{ form.due_date.errors }}</div>
                            {% endif %}
                        </div>
                        <button class="btn btn-primary w-100" type="submit">Guardar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
